
{{define "main"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Auth Page</title>
  <script src="https://unpkg.com/htmx.org@2.0.4"
          integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
          crossorigin="anonymous"></script>
</head>
<body>
  <div id="auth-form-wrapper">
    {{if .IsLogin}}
      {{template "tmpl:login" .}}
    {{else if .IsSignup}}
      {{template "tmpl:signup" .}}
    {{end}}
  </div>
</body>
</html>
{{end}}
